Source: wasta-papirus
Section: utils
Priority: optional
Maintainer: Rik Shaw <rikshaw76@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.5
Homepage: https://github.com/wasta-linux/wasta-papirus

Package: wasta-papirus
Architecture: all
Depends: papirus-icon-theme, ${shlibs:Depends}, ${misc:Depends}
Description: Icon theme based on Papirus with Vertex folder Icons
 Papirus theme with Wasta-Vertex folder icons.
